/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    body {
        font-size: 12px;
    }

    header {
        padding: 10px 0px;
    }

    .menu-object {
        display: none;
    }

    .head-logo {
        position: relative;
        left: 10px; 
    }

    .lang-switcher {
        position: relative;
        right: 10px;
    }

    .banner {
        height: auto;
        padding-top: 0;
    }

    video {
        width: 100%;
        height: auto;
        max-width: none;
        position: relative;
        top: 0;
        transform: none;
        left: 0;
    }

    main {
        padding: 20px;
    }

    .elementor-heading {
        font-size: 28px;
    }

    .elementor-intro__description {
        font-size: 14px;
    }

    .elementor-business__title {
        font-size: 24px;
    }

    .elementor-project-slider__title {
        font-size: 18px;
    }

    .elementor-career-content__title {
        font-size: 32px;
    }

    .elementor-environmental-content__title {
        font-size: 18px;
    }

    .elementor-news-title {
        font-size: 14px;
    }
    
    .footer-1,
    .footer-2,
    .footer-3 {
        padding: 0 20px;
    }

    .footer-1-column,
    .footer-2-column {
        padding: 5px; 
    }

    .footer-1,
    .footer-2 {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .footer-1-column,
    .footer-2-column {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
    }

    .elementor-intro__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        position: relative;
        border: 6px solid #f9f9f9;
        border-radius: 16px;
    }

    .elementor-intro__description {
        padding: 20px;
        width: 100%;
        z-index: 1;
    }

    .elementor-intro__image {
        position: static;
        transform: none;
        width: 100%;
        text-align: center;
    }

    .elementor-intro__image img {
        max-width: 90%;
        height: auto;
    }

    .elementor-business-content ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }

    .elementor-business__item--red,
    .elementor-business__item--normal {
        margin-bottom: 20px;
    }

    .elementor-business__item--red:last-child,
    .elementor-business__item--normal:last-child {
        margin-bottom: 0;
    }

    .elementor-project {
        padding: 20px;
    }

    .elementor-project-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .elementor-project-counter ul {
        display: flex;
        justify-content: space-between;
    }

    .elementor-project-counter li {
        flex: 1;
        margin: 0 10px;
        box-sizing: border-box;
    }

    .elementor-project-counter__number {
        font-size: 50px;
    }

    .elementor-project-counter__label {
        font-size: 16px;
    }

    .elementor-project-counter__title {
        font-size: 14px;
        margin-top: 5px;
    }

    .elementor-project-counter-btn {
        font-size: 14px;
        padding: 0px;
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }

    .elementor-project-slider {
        width: 100%;
    }

    .elementor-project-slider-item {
        margin-bottom: 20px;
    }

    .elementor-project-slider-content {
        padding: 10px;
        text-align: center;
    }

    .elementor-project-slider__sub-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .elementor-project-slider__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .elementor-project-slider__description {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .elementor-project-slider-btn-text {
        font-size: 14px;
    }

    .elementor-project-slider-button {
        padding: 0px;
    }

    .elementor-career-content__description {
        font-size: 18px;
        text-align: center;
    }

    .elementor-career-content__sub-description {
        font-size: 14px;
    }

    .elementor-environmental-contain {
        display: flex;
        flex-direction: column;
    }

    .elementor-environmental-content__title {
        font-size: 15px;
    }

    .elementor-environmental-button-title {
        padding: 0px 120px;
    }

    .elementor-news-slick-track {
        display: flex;
        flex-direction: column;
    }

    .elementor-news-slick-item {
        max-width: 100%;
        padding: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    body {
        font-size: 14px;
    }

    header {
        padding: 15px 0px;
    }

    .menu-object {
        display: none;
    }

    .head-logo {
        position: relative;
        left: 10px; 
    }

    .lang-switcher {
        position: relative;
        right: 10px;
    }

    .banner {
        height: auto;
        padding-top: 0;
    }

    video {
        width: 100%;
        height: auto;
        max-width: none;
        position: relative;
        top: 0;
        transform: none;
        left: 0;
    }

    main {
        padding: 30px;
    }

    .elementor-heading {
        font-size: 32px;
    }

    .elementor-intro__description {
        font-size: 16px;
    }

    .elementor-business__title {
        font-size: 28px;
    }

    .elementor-project-slider__title {
        font-size: 22px;
    }

    .elementor-career-content__title {
        font-size: 36px;
    }

    .elementor-environmental-content__title {
        font-size: 20px;
    }

    .elementor-news-title {
        font-size: 16px;
    }
    
    .footer-1,
    .footer-2,
    .footer-3 {
        padding: 0 30px;
    }

    .footer-1-column,
    .footer-2-column {
        padding: 10px;
        width: 100%;
    }

    .elementor-intro__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        position: relative;
        border: 6px solid #f9f9f9;
        border-radius: 16px;
    }

    .elementor-intro__description {
        padding: 30px;
    }

    .elementor-intro__image {
        position: static;
        transform: none;
        width: 100%;
        text-align: center;
    }

    .elementor-intro__image img {
        max-width: 90%;
        height: auto;
    }

    .elementor-business-content ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }

    .elementor-business__item--red,
    .elementor-business__item--normal {
        margin-bottom: 20px;
    }

    .elementor-business__item--red:last-child,
    .elementor-business__item--normal:last-child {
        margin-bottom: 0;
    }

    .elementor-project {
        padding: 30px;
    }

    .elementor-project-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .elementor-project-counter ul {
        display: flex;
        justify-content: space-between;
    }

    .elementor-project-counter li {
        flex: 1;
        margin: 0 10px;
        box-sizing: border-box;
    }

    .elementor-project-counter__number {
        font-size: 50px;
    }

    .elementor-project-counter__label {
        font-size: 16px;
    }

    .elementor-project-counter__title {
        font-size: 14px;
        margin-top: 5px;
    }

    .elementor-project-counter-btn {
        font-size: 14px;
        padding: 0px;
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }

    .elementor-project-slider {
        width: 100%;
    }

    .elementor-project-slider-item {
        margin-bottom: 20px;
    }

    .elementor-project-slider-content {
        padding: 15px;
        text-align: center;
    }

    .elementor-project-slider__sub-title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .elementor-project-slider__title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .elementor-project-slider__description {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .elementor-project-slider-btn-text {
        font-size: 16px;
    }

    .elementor-project-slider-button {
        padding: 0px;
    }

    .elementor-career-content__description {
        font-size: 20px;
        text-align: center;
    }

    .elementor-environmental-button-title {
        padding: 0 150px;
    }

    .elementor-news-slick-track {
        display: flex;
        flex-direction: column;
    }

    .elementor-news-slick-item {
        max-width: 100%;
        padding: 15px;
    }

    .elementor-environmental-contain {
        display: flex;
        flex-direction: column;
    }

    .elementor-environmental-content__title {
        font-size: 15px;
    }

    .elementor-environmental-button-title {
        padding: 0px 120px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .elementor-environmental-contain {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .elementor-business-content ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        width: 100%;
    }

    .elementor-project-contain {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        width: 100%;
    }

    .elementor-project-counter ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        width: 100%;
    }

    .footer-1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer-1-column {
        flex: 1;
        margin: 10px;
    }

    .footer-2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer-2-column {
        flex: 1;
        margin: 10px;
    }

    .footer-3 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer-3-column {
        flex: 1;
        margin: 10px;
    }

    .elementor-intro__content {
        align-items: center;
        border: 6px solid #f9f9f9;
        border-radius: 16px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    
    .elementor-intro__description {
        font-size: 16px;
        padding: 40px 0px 40px 70px;
        width: 85%;
        z-index: 1;
    }
    
    .elementor-intro__image img {
        height: auto;
        max-width: 100%;
    }

    .elementor-news-slick-track {
        flex-direction: row;
    }

    .elementor-news-slick-item {
        height: 100%;
        max-width: calc((100% - 40px) / 3);
        padding: 20px;
    }

    .elementor-news-title {
        max-height: 60px;
        overflow: hidden;
    }

    .elementor-news-preview {
        max-height: 80px;
        overflow: hidden;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    body {
        font-size: 16px;
    }

    header {
        padding: 20px 40px;
    }

    .menu-object {
        display: flex;
        padding-left: 10px;
        font-size: 13px;
    }

    .menu-object li {
        margin-right: 20px;
    }

    .sun-logo {
        max-height: 40px;
    }

    .lang-switcher {
        display: block;
    }

    main {
        padding: 40px;
    }

    .elementor-heading {
        font-size: 48px;
    }

    .elementor-intro__description {
        width: 100%;
        z-index: 1;
    }

    .elementor-intro__image {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 40%;
    }

    .elementor-intro__image img {
        width: 100%;
        height: auto;
    }

    .elementor-business__item--red,
    .elementor-business__item--normal {
        flex-basis: calc(50% - 10px);
    }

    .elementor-project {
        padding: 40px;
    }

    .elementor-project-counter ul {
        display: flex;
    }

    .elementor-project-counter li {
        flex-basis: calc(33.33% - 10px);
    }

    .elementor-project-counter__number {
        font-size: 50px;
    }

    .elementor-project-counter__label {
        font-size: 20px;
    }

    .elementor-project-counter__title {
        font-size: 18px;
        margin-top: 10px;
    }

    .elementor-project-counter-btn {
        font-size: 18px;
        padding: 10px 20px;
    }

    .elementor-project-slider {
        width: 100%;
    }

    .elementor-project-slider-item {
        flex-basis: calc(50% - 20px);
    }

    .elementor-project-slider-content {
        padding: 20px;
        text-align: left;
    }

    .elementor-project-slider__sub-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .elementor-project-slider__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .elementor-project-slider__description {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .elementor-project-slider-btn-text {
        font-size: 18px;
    }

    .elementor-career {
        margin-top: 80px;
    }

    .elementor-career-content__title {
        font-size: 48px;
        margin-bottom: 30px;
    }

    .elementor-career-content__sub-description {
        font-size: 24px;
    }

    .elementor-career-content__description {
        font-size: 32px;
    }

    .elementor-environmental-content__title {
        font-size: 24px;
    }

    .elementor-news-heading__slick-btn {
        display: flex;
        gap: 10px;
    }

    .elementor-news-slick-track {
        flex-direction: row;
        align-items: flex-start;
    }

    .elementor-news-slick-item {
        flex-basis: calc(33.33% - 20px);
    }

    .elementor-news-title {
        font-size: 14px;
        max-height: 100%;
    }

    .elementor-news-preview {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .join-us-button {
        bottom: 40px;
        right: 40px;
    }

    .footer-1,
    .footer-2,
    .footer-3 {
        padding: 0 20px;
    }

    .footer-1-column,
    .footer-2-column {
        padding: 10px;
    }

    .footer-1,
    .footer-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }

    .footer-1-column,
    .footer-2-column {
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
    }

    .footer-heading {
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    header {
        align-items: center;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        height: auto;
        justify-content: space-between;
        overflow: hidden;
        padding: 10px 180px 0px 180px;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    
    .sun-logo {
        max-height: 40px;
    }
    
    .menu-object {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-left: 120px;
    }
    
    .menu-object li {
        font-size: 16px;
        font-weight: 400;
        margin-right: 40px;
        padding: 30px 0px;
        position: relative;
    }
    
    .menu-object li:last-child {
        margin-right: 0;
    }
    
    .menu-object a {
        color: black;
        position: relative;
        text-decoration: none;
        transition: color 0.3s ease;
        z-index: 1;
    }
    
    .menu-object a.active {
        color: #c01111;
    }
    
    .menu-object .object-home {
        color: #c01111;
    }
    
    .menu-object a:hover,
    .menu-object a:focus,
    .menu-object a:active {
        color: #c01111;
    }
    
    .menu-object a.active:before,
    .menu-object a:hover:before,
    .menu-object a:focus:before {
        background-color: #c01111;
        border-radius: 5px;
        content: '';
        height: 6px;
        left: 50%;
        position: absolute;
        top: -30px;
        transform: translateX(-50%);
        width: 60%;
        z-index: 2;
    }
    
    .menu-object a:not(.active):hover:before,
    .menu-object a:not(.active):focus:before {
        background-color: #c01111;
        border-radius: 5px;
        content: '';
        height: 6px;
        left: 50%;
        position: absolute;
        top: -30px;
        transform: translateX(-50%);
        width: 60%;
        z-index: 2;
    }
    
    .lang-switcher ul {
        align-items: center;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .lang-switcher li {
        border-radius: 4px;
        cursor: pointer;
        padding: 0px 6px;
    }
    
    .lang-switcher li:hover {
        color: #c01111;
    }
    
    .lang-switcher .lang-vi-default {
        border: 1px solid #c01111;
        color: #c01111;
        font-weight: 600;
        padding: 1px 13px;
    }
}